
//import font
@font-face{
	font-family: 'Chalky';
	src: url('../fonts/KGBrokenVesselsSketch.ttf');
	background-image:url('../images/chalkboard2.jpg');
}


//style standardization


a{
	text-decoration: none;
	color:blue	;
}
body{
	font-family: "Chalky", sans-serif;
	background-image:url('../images/chalkboard2.jpg');
	color:white;

}

ul{
	list-style:none;
	padding-left: 0
}
//layout for top bar on every page
#topBar{
	width:100%;
	height:180px;
	background: red;
	margin-bottom: 10px;
	background-image: url('http://www.publicdomainpictures.net/pictures/120000/nahled/diverse-kids.jpg');
}

//Navigation bar for parent's side
// #mainNav{
// 	width:98%;
// 	height:5%;
// 	background: rgb(38,64,91);
// 	display: flex;
// 	flex-direction: row;
// 	justify-content:space-between;
// 	border-radius: 5px;
// 	margin: auto;
// 	padding:3px 5px 3px 5px;
// 	margin-bottom: 60px;
// }

//Parent's page after logging in
#landingPage{
	width:100%;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	height:75%;

	h1{
		text-align: center;
		color:white;
		font-size:58px;
		letter-spacing: .2em;
		font-family: 'Chalky';	
	}

	.landingBox{
	height:1000px;
	width:100%;
	// background-image:url('../images/chalkboard2.jpg');
	overflow:scroll;
	clear:both
	}
}

.tableLanding{
		background-image:url('../images/chalkboard2.jpg');
		width:100%;
		color:white;

}
.deny{
	width:23px;
	background-color: rgb(0,233,233)
}

#homeContainer{
	background-image: url('http://www.publicdomainpictures.net/pictures/120000/nahled/diverse-kids.jpg');
}

.currentLanding{
	list-style: none;
}

.starClass{
	fill:orange;
}

input[type='radio'] {
   border:red;
   color:white;
}

.parentBG{
	background-image:url('../images/chalkboard3.jpg');
	position:fixed !important;
	position: absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
}


.rewardPTable{
	background-image: url('../images/chalkboard3.jpg');
	color:white;
	font-size: 22px;
}

#startDate-undefined-undefined-17933{
	color:white;
}